@model IEnumerable<e_CarSharing.Models.Type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<h2>Tipo</h2>
<br />
<p>
    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Create","Types")'">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Criar&nbsp;Novo
    </button>
</p>
<hr />

@if (Model.Count() != 0)
{
    <table class="table table-bordered table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayName("Ações")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.TypeId })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h5>Ainda não existem tipos criados.</h5>
}