@model e_CarSharing.Models.Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="button" class="btn btn-secondary btn-sm" onclick="history.go(-1); return false;" href="#">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
        </button>
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |

    </div>
    }
</div>
