@model e_CarSharing.Models.RentViewModelSearch

@{
    ViewBag.Title = "My Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Alugueres</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(model => model.Rents, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.DropDownListFor(m => m.RentSateId, Model.RentStateList, "Estado da Renda", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.RentSateId, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp; Pesquisar
    </button>

}
<br />

@if (Model.Rents.Count() != 0)
{
    <div>
        <table class="table table-bordered table-responsive table-condensed table-striped">
            <tr>
                <th>
                    @Html.DisplayName("Veículo")
                </th>
                <th>
                    @Html.DisplayName("Propriatário")
                </th>
                <th>
                    @Html.DisplayName("Cliente")
                </th>
                <th>
                    @Html.DisplayName("Inicio")
                </th>
                <th>
                    @Html.DisplayName("Fim")
                </th>
                <th>
                    @Html.DisplayName("Estado")
                </th>
                <th>
                    @Html.DisplayName("Local de Levantamento")
                </th>
                <th>
                    @Html.DisplayName("Local de Entrega")
                </th>
                <th>
                    @Html.DisplayName("Ações")
                </th>
            </tr>

            @foreach (var item in Model.Rents)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Vehicle.Brand.BrandName, "Details", "Vehicle", new { id = item.VehicleId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentState.RentStateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PickUpLocation.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryLocation.LocationName)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { Area = "", id = item.RentId }, new { @class = "btn btn-primary btn-sm" })
                        @if (!Model.IsMobility)
                        {
                            @Html.ActionLink("Mudar Estado", "ChangeRentState", new { Area = "", RentId = item.RentId }, new { @class = "btn btn-info btn-sm" })

                        }

                    </td>
                </tr>
            }

        </table>
    </div>
}
else
{
    <h4>Ainda não existem alugueres.</h4>
}

    <div>
        <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Index","Home", new { @area =""})'">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
        </button>
    </div>