@model IEnumerable<e_CarSharing.Models.Rent>

@{
    ViewBag.Title = "My Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Alugueres</h2>
<hr />

@if (Model.Count() != 0)
{
    <div>
        <table class="table table-bordered table-responsive table-condensed table-striped">
            <tr>
                <th>
                    @Html.DisplayName("Veículo")
                </th>
                <th>
                    @Html.DisplayName("Propriatário")
                </th>
                <th>
                    @Html.DisplayName("Cliente")
                </th>
                <th>
                    @Html.DisplayName("Inicio")
                </th>
                <th>
                    @Html.DisplayName("Fim")
                </th>
                <th>
                    @Html.DisplayName("Estado")
                </th>
                <th>
                    @Html.DisplayName("Local de Levantamento")
                </th>
                <th>
                    @Html.DisplayName("Local de Entrega")
                </th>
                <th>
                    @Html.DisplayName("Ações")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Vehicle.Brand.BrandName, "Details", "Vehicle", new { id = item.VehicleId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentState.RentStateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PickUpLocation.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryLocation.LocationName)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.VehicleId }) |
                        @Html.ActionLink("Mudar Estado", "ChangeRentState", new {item.RentId })
                    </td>
                </tr>
            }

        </table>
    </div>
}
else
{
    <h4>Ainda não existem alugueres.</h4>
}