@model e_CarSharing.Models.Colour

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Deseja eliminar este item?</h3>
<div>
    <hr />
    @if (ViewBag.ShowAlert != null && ViewBag.ShowAlert == true)
    {
        @Html.Partial("_ShowAlert");
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ColourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColourName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Index","Colours")'">
                <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
            </button>
            <button type="submit" value="Eliminar" class="btn btn-secondary btn-sm">
                Eliminar
            </button>
        </div>
    }
</div>
