@model IEnumerable<e_CarSharing.Models.Location>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleMapsURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleMapsURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocalId })
        </td>
    </tr>
}

</table>
