<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-CarSharing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <div class="item active">
                        <img src="~/Content/home_1.jpg" alt="Los Angeles">
                    </div>
                </button>
                <a href="@Url.Action("Index", "Home", new { @area = "" })" title="e-CarSharing" class="navbar-brand" style="padding:8px;">
                    <img alt="" src="@Url.Content("~/Content/logo.png")" style="display:inline;" />
                    e-CarSharing
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_NavbarOptions")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - e-CarSharing</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
