@model e_CarSharing.Models.VehicleViewModelCreate

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Veiculo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Types, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.TypeId, Model.Types, "Tipo", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Types, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Brands, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.BrandId, Model.Brands, "Marca", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Brands, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Models, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ModelId, Model.Models, "Modelo", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Models, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Colours, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ColourId, Model.Colours, "Cor", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Brands, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VehicleSeats, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.VehicleSeatId, Model.VehicleSeats, "Número de Lugares", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VehicleSeats, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Locations, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.LocationId, Model.Locations, "Localização", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Locations, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continuar " class="btn btn-success" />
        </div>
    </div>
</div>

}

<div>
    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Index","Home")'">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
    </button>
</div>

