@model IEnumerable<e_CarSharing.Models.Vehicle>

@{
    ViewBag.Title = "All Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos os Veiculos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<hr />
@if (Model.Count() != 0)
{

    <table class="table table-bordered table-responsive table-condensed table-striped">
        <tr>th>
            <th>
                @Html.DisplayName("Marca")
            </th>
            <th>
                @Html.DisplayName("Modelo")
            </th>
            <th>
                @Html.DisplayName("Preço Diário")
            </th>
            <th>
                @Html.DisplayName("Preço por Hora")
            </th>
            <th>
                @Html.DisplayName("Proprietário")
            </th>
            <th>
                @Html.DisplayName("Ações")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourlyPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "VehiclesDetails", new { id = item.VehicleId })
                </td>
            </tr>
        }

    </table>

}
else
{
    <h4>A pesquisa não obteve resultados ...</h4>
}


<div>
    @Html.ActionLink("Home", "Index", "Home", new { htmlAttributes = new { @class = "btn btn-primary" } })
</div>
