@model IEnumerable<e_CarSharing.Models.Vehicle>

@{
    ViewBag.Title = "All Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos os Veiculos</h2>

<hr />
@if (Model.Count() != 0)
{

    <table class="table table-bordered table-responsive table-condensed table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleState.VehicleStateName)
            </th>
            <th>
                @Html.DisplayName("Ações")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourlyPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleState.VehicleStateName)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { Area = "", id = item.VehicleId }, new { @class = "btn btn-primary btn-sm" })
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Eliminar", "Delete", new { Area = "", id = item.VehicleId }, new { @class = "btn btn-danger btn-sm" })

                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4>Ainda não existem veiculos</h4>
}

<div>
    <button type="button" class="btn btn-secondary btn-sm" onclick="history.go(-1); return false;" href="#">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
    </button>
</div>